@model IEnumerable<MvcMovie.Models.GeneratedGithubRelease>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<body>

    <img src=@ViewBag.Message alt="Smiley face" width="500" height="500">
</body>

<table class="table"></table>


